## Utkarsh Vataliya

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('train-data.csv')

In [3]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [4]:
df.shape

(6019, 14)

In [5]:
df.drop(columns=['Unnamed: 0','New_Price','Name','Location'], axis=1 ,inplace=True)

In [6]:
indx = df[df['Power'] == 'null bhp'].index

In [7]:
indx.shape

(107,)

In [8]:
df.drop(indx, axis=0, inplace=True)

In [9]:
df['Mileage'] = df['Mileage'].str.split(' ').str[0]
df['Engine'] = df['Engine'].str.split(' ').str[0]
df['Power'] = df['Power'].str.split(' ').str[0]

In [10]:
df['Mileage'] = df['Mileage'].astype(float)
df['Engine'] = df['Engine'].astype(float)
df['Power'] = df['Power'].astype(float)

In [11]:
df.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,1.75
1,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
2,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,4.50
3,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
4,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74

In [12]:
df.isna().sum()

Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                38
Price                 0
dtype: int64

In [13]:
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())
df['Engine'] = df['Engine'].fillna(df['Engine'].median())
df['Power'] = df['Power'].fillna(df['Power'].median())
df['Seats'] = df['Seats'].fillna(df['Seats'].median())

In [14]:
df.isna().sum()

Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [15]:
for col in df.select_dtypes(include=['object']).columns:
    print(f"{col}: {df[col].unique()}\n")

Fuel_Type: ['CNG' 'Diesel' 'Petrol' 'LPG' 'Electric']

Transmission: ['Manual' 'Automatic']

Owner_Type: ['First' 'Second' 'Fourth & Above' 'Third']

In [16]:
from sklearn import preprocessing
for col in df.select_dtypes(include=['object']).columns:

    label_encoder = preprocessing.LabelEncoder()
    label_encoder.fit(df[col].unique())
    df[col] = label_encoder.transform(df[col])
    print(f"{col}: {df[col].unique()}")

Fuel_Type: [0 1 4 3 2]
Transmission: [1 0]
Owner_Type: [0 2 1 3]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5912 entries, 0 to 6018
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               5912 non-null   int64
 1   Kilometers_Driven  5912 non-null   int64
 2   Fuel_Type          5912 non-null   int32
 3   Transmission       5912 non-null   int32
 4   Owner_Type         5912 non-null   int32
 5   Mileage            5912 non-null   float64
 6   Engine             5912 non-null   float64
 7   Power              5912 non-null   float64
 8   Seats              5912 non-null   float64
 9   Price              5912 non-null   float64
dtypes: float64(5), int32(3), int64(2)
memory usage: 438.8 KB

In [18]:
df.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,0,1,0,26.60,998.0,58.16,5.0,1.75
1,2015,41000,1,1,0,19.67,1582.0,126.20,5.0,12.50
2,2011,46000,4,1,0,18.20,1199.0,88.70,5.0,4.50
3,2012,87000,1,1,0,20.77,1248.0,88.76,7.0,6.00
4,2013,40670,1,0,2,15.20,1968.0,140.80,5.0,17.74

In [19]:
x = df.drop('Price',axis=1)
y = df[['Price']]

In [20]:
x.shape , y.shape

((5912, 9), (5912, 1))

In [21]:
x_train_full, x_test, y_train_full, y_test = train_test_split(x,y, random_state=42)
x_train, x_valid, y_train, y_valid = train_test_split(x_train_full,y_train_full, random_state=42)

In [22]:
print(x_train_full.shape)
print(x_test.shape)
print(x_train.shape)
print(x_valid.shape)

(4434, 9)
(1478, 9)
(3325, 9)
(1109, 9)

In [23]:
scl = StandardScaler()
x_train = scl.fit_transform(x_train)
x_valid = scl.transform(x_valid)
x_test = scl.transform(x_test)

In [24]:
Layers = [
    tf.keras.layers.Dense(10,activation='relu', input_shape=x_train.shape[1:],kernel_regularizer=tf.keras.regularizers.l2(0.05)),
    tf.keras.layers.Dense(5,activation='relu',kernel_regularizer=tf.keras.regularizers.l2(0.05)),
    tf.keras.layers.Dense(1)

]

In [25]:
model= tf.keras.models.Sequential(Layers)

In [26]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                100

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 161
Trainable params: 161
Non-trainable params: 0
_________________________________________________________________

In [27]:
model.compile(loss='mse',optimizer=tf.keras.optimizers.Adam(0.001))

In [28]:
history = model.fit(x_train,y_train,epochs=150,validation_data=(x_valid,y_valid))

Epoch 1/150
104/104 [==============================] - 3s 10ms/step - loss: 233.8206 - val_loss: 230.5754
Epoch 2/150
104/104 [==============================] - 1s 7ms/step - loss: 222.4890 - val_loss: 216.7444
Epoch 3/150
104/104 [==============================] - 1s 6ms/step - loss: 195.9304 - val_loss: 167.7221
Epoch 4/150
104/104 [==============================] - 1s 6ms/step - loss: 121.7688 - val_loss: 78.9600
Epoch 5/150
104/104 [==============================] - 1s 6ms/step - loss: 52.8151 - val_loss: 40.5347
Epoch 6/150
104/104 [==============================] - 1s 6ms/step - loss: 35.9101 - val_loss: 35.5915
Epoch 7/150
104/104 [==============================] - 1s 6ms/step - loss: 32.6093 - val_loss: 33.4955
Epoch 8/150
104/104 [==============================] - 1s 7ms/step - loss: 30.6723 - val_loss: 31.9996
Epoch 9/150
104/104 [==============================] - 1s 6ms/step - loss: 29.4773 - val_loss: 30.9659
Epoch 10/150
104/104 [==============================] - 1s 6ms/step - loss: 28.4987 - val_loss: 30.3315
Epoch 11/150
104/104 [==============================] - 1s 6ms/step - loss: 27.9261 - val_loss: 29.7198
Epoch 12/150
104/104 [==============================] - 1s 6ms/step - loss: 27.2548 - val_loss: 29.2727
Epoch 13/150
104/104 [==============================] - 1s 6ms/step - loss: 26.7941 - val_loss: 28.8625
Epoch 14/150
104/104 [==============================] - 1s 6ms/step - loss: 26.4068 - val_loss: 28.5500
Epoch 15/150
104/104 [==============================] - 1s 6ms/step - loss: 26.0614 - val_loss: 28.2250
Epoch 16/150
104/104 [==============================] - 1s 6ms/step - loss: 25.8182 - val_loss: 28.0131
Epoch 17/150
104/104 [==============================] - 1s 6ms/step - loss: 25.5122 - val_loss: 27.7815
Epoch 18/150
104/104 [==============================] - 1s 6ms/step - loss: 25.3291 - val_loss: 27.6091
Epoch 19/150
104/104 [==============================] - 1s 6ms/step - loss: 25.0873 - val_loss: 27.4469
Epoch 20/150
104/104 [==============================] - 1s 6ms/step - loss: 24.9834 - val_loss: 27.3472
Epoch 21/150
104/104 [==============================] - 1s 6ms/step - loss: 24.8305 - val_loss: 27.1947
Epoch 22/150
104/104 [==============================] - 1s 6ms/step - loss: 24.5895 - val_loss: 27.1224
Epoch 23/150
104/104 [==============================] - 1s 7ms/step - loss: 24.4638 - val_loss: 26.8595
Epoch 24/150
104/104 [==============================] - 1s 6ms/step - loss: 24.3097 - val_loss: 26.7367
Epoch 25/150
104/104 [==============================] - 1s 8ms/step - loss: 24.1208 - val_loss: 26.7876
Epoch 26/150
104/104 [==============================] - 1s 6ms/step - loss: 24.0422 - val_loss: 26.5149
Epoch 27/150
104/104 [==============================] - 1s 6ms/step - loss: 23.9173 - val_loss: 26.4726
Epoch 28/150
104/104 [==============================] - 1s 6ms/step - loss: 23.9074 - val_loss: 26.3233
Epoch 29/150
104/104 [==============================] - 1s 8ms/step - loss: 23.7596 - val_loss: 26.3695
Epoch 30/150
104/104 [==============================] - 1s 6ms/step - loss: 23.6629 - val_loss: 26.2177
Epoch 31/150
104/104 [==============================] - 1s 7ms/step - loss: 23.4971 - val_loss: 26.1566
Epoch 32/150
104/104 [==============================] - 1s 6ms/step - loss: 23.4467 - val_loss: 25.9995
Epoch 33/150
104/104 [==============================] - 1s 6ms/step - loss: 23.3587 - val_loss: 25.9954
Epoch 34/150
104/104 [==============================] - 1s 6ms/step - loss: 23.2589 - val_loss: 26.0785
Epoch 35/150
104/104 [==============================] - 1s 9ms/step - loss: 23.2882 - val_loss: 25.8146
Epoch 36/150
104/104 [==============================] - 1s 10ms/step - loss: 23.0557 - val_loss: 25.8479
Epoch 37/150
104/104 [==============================] - 1s 7ms/step - loss: 23.0331 - val_loss: 25.6900
Epoch 38/150
104/104 [==============================] - 1s 7ms/step - loss: 23.0118 - val_loss: 25.6075
Epoch 39/150
104/104 [==============================] - 1s 6ms/step - loss: 22.8611 - val_loss: 25.5785
Epoch 40/150
104/104 [==============================] - 1s 6ms/step - loss: 22.7674 - val_loss: 25.7528
Epoch 41/150
104/104 [==============================] - 1s 7ms/step - loss: 22.7868 - val_loss: 25.4690
Epoch 42/150
104/104 [==============================] - 1s 6ms/step - loss: 22.6887 - val_loss: 25.5282
Epoch 43/150
104/104 [==============================] - 1s 5ms/step - loss: 22.6893 - val_loss: 25.4063
Epoch 44/150
104/104 [==============================] - 1s 6ms/step - loss: 22.5148 - val_loss: 25.4099
Epoch 45/150
104/104 [==============================] - 1s 5ms/step - loss: 22.5597 - val_loss: 25.3320
Epoch 46/150
104/104 [==============================] - 1s 5ms/step - loss: 22.4762 - val_loss: 25.2672
Epoch 47/150
104/104 [==============================] - 1s 5ms/step - loss: 22.4671 - val_loss: 25.4500
Epoch 48/150
104/104 [==============================] - 1s 5ms/step - loss: 22.3585 - val_loss: 25.2084
Epoch 49/150
104/104 [==============================] - 1s 7ms/step - loss: 22.3565 - val_loss: 25.2505
Epoch 50/150
104/104 [==============================] - 1s 6ms/step - loss: 22.3424 - val_loss: 25.2987
Epoch 51/150
104/104 [==============================] - 1s 5ms/step - loss: 22.2615 - val_loss: 25.1432
Epoch 52/150
104/104 [==============================] - 1s 6ms/step - loss: 22.3207 - val_loss: 25.0980
Epoch 53/150
104/104 [==============================] - 1s 7ms/step - loss: 22.1429 - val_loss: 25.0929
Epoch 54/150
104/104 [==============================] - 1s 7ms/step - loss: 22.1512 - val_loss: 25.1128
Epoch 55/150
104/104 [==============================] - 1s 6ms/step - loss: 22.0860 - val_loss: 25.0249
Epoch 56/150
104/104 [==============================] - 1s 5ms/step - loss: 21.9909 - val_loss: 24.9688
Epoch 57/150
104/104 [==============================] - 1s 5ms/step - loss: 21.9996 - val_loss: 25.0289
Epoch 58/150
104/104 [==============================] - 1s 6ms/step - loss: 21.8415 - val_loss: 25.0499
Epoch 59/150
104/104 [==============================] - 1s 5ms/step - loss: 21.8971 - val_loss: 24.8595
Epoch 60/150
104/104 [==============================] - 1s 5ms/step - loss: 21.7308 - val_loss: 25.0455
Epoch 61/150
104/104 [==============================] - 1s 5ms/step - loss: 21.8223 - val_loss: 24.8573
Epoch 62/150
104/104 [==============================] - 1s 6ms/step - loss: 21.6966 - val_loss: 24.8875
Epoch 63/150
104/104 [==============================] - 1s 6ms/step - loss: 21.6312 - val_loss: 24.7817
Epoch 64/150
104/104 [==============================] - 1s 5ms/step - loss: 21.5536 - val_loss: 24.7399
Epoch 65/150
104/104 [==============================] - 1s 7ms/step - loss: 21.6161 - val_loss: 24.7562
Epoch 66/150
104/104 [==============================] - 1s 5ms/step - loss: 21.4362 - val_loss: 24.7512
Epoch 67/150
104/104 [==============================] - 1s 6ms/step - loss: 21.4354 - val_loss: 24.7262
Epoch 68/150
104/104 [==============================] - 1s 5ms/step - loss: 21.4090 - val_loss: 24.6304
Epoch 69/150
104/104 [==============================] - 1s 6ms/step - loss: 21.3824 - val_loss: 24.5442
Epoch 70/150
104/104 [==============================] - 1s 5ms/step - loss: 21.2490 - val_loss: 24.5684
Epoch 71/150
104/104 [==============================] - 1s 6ms/step - loss: 21.1797 - val_loss: 24.5207
Epoch 72/150
104/104 [==============================] - 1s 6ms/step - loss: 21.1923 - val_loss: 24.5289
Epoch 73/150
104/104 [==============================] - 1s 8ms/step - loss: 21.2585 - val_loss: 24.4547
Epoch 74/150
104/104 [==============================] - 1s 7ms/step - loss: 21.1514 - val_loss: 24.4254
Epoch 75/150
104/104 [==============================] - 1s 6ms/step - loss: 21.0554 - val_loss: 24.3952
Epoch 76/150
104/104 [==============================] - 1s 7ms/step - loss: 20.9232 - val_loss: 24.6250
Epoch 77/150
104/104 [==============================] - 1s 7ms/step - loss: 21.0906 - val_loss: 24.4313
Epoch 78/150
104/104 [==============================] - 1s 7ms/step - loss: 20.9504 - val_loss: 24.5042
Epoch 79/150
104/104 [==============================] - 1s 7ms/step - loss: 20.9368 - val_loss: 24.3681

Epoch 80/150
104/104 [==============================] - 1s 7ms/step - loss: 20.9299 - val_loss: 24.4518
Epoch 81/150
104/104 [==============================] - 1s 7ms/step - loss: 20.9283 - val_loss: 24.3340
Epoch 82/150
104/104 [==============================] - 1s 6ms/step - loss: 20.9249 - val_loss: 24.3220
Epoch 83/150
104/104 [==============================] - 1s 7ms/step - loss: 20.8188 - val_loss: 24.2956
Epoch 84/150
104/104 [==============================] - 1s 6ms/step - loss: 20.7104 - val_loss: 24.2814
Epoch 85/150
104/104 [==============================] - 1s 7ms/step - loss: 20.7669 - val_loss: 24.2848
Epoch 86/150
104/104 [==============================] - 1s 7ms/step - loss: 20.8103 - val_loss: 24.2425
Epoch 87/150
104/104 [==============================] - 1s 7ms/step - loss: 20.6767 - val_loss: 24.2604
Epoch 88/150
104/104 [==============================] - 1s 6ms/step - loss: 20.6252 - val_loss: 24.2989
Epoch 89/150
104/104 [==============================] - 1s 6ms/step - loss: 20.6324 - val_loss: 24.1813
Epoch 90/150
104/104 [==============================] - 1s 6ms/step - loss: 20.6274 - val_loss: 24.1447
Epoch 91/150
104/104 [==============================] - 1s 7ms/step - loss: 20.5617 - val_loss: 24.2085
Epoch 92/150
104/104 [==============================] - 1s 7ms/step - loss: 20.6008 - val_loss: 24.1774
Epoch 93/150
104/104 [==============================] - 1s 7ms/step - loss: 20.6177 - val_loss: 24.1168
Epoch 94/150
104/104 [==============================] - 1s 6ms/step - loss: 20.6761 - val_loss: 24.1699
Epoch 95/150
104/104 [==============================] - 1s 6ms/step - loss: 20.4919 - val_loss: 24.3250
Epoch 96/150
104/104 [==============================] - 1s 6ms/step - loss: 20.3466 - val_loss: 24.2506
Epoch 97/150
104/104 [==============================] - 1s 7ms/step - loss: 20.5782 - val_loss: 24.0609
Epoch 98/150
104/104 [==============================] - 1s 7ms/step - loss: 20.4375 - val_loss: 24.0662
Epoch 99/150
104/104 [==============================] - 1s 5ms/step - loss: 20.4277 - val_loss: 23.9856
Epoch 100/150
104/104 [==============================] - 1s 6ms/step - loss: 20.4427 - val_loss: 24.1457
Epoch 101/150
104/104 [==============================] - 1s 7ms/step - loss: 20.4153 - val_loss: 24.4970
Epoch 102/150
104/104 [==============================] - 1s 7ms/step - loss: 20.4008 - val_loss: 24.0304
Epoch 103/150
104/104 [==============================] - 1s 6ms/step - loss: 20.2895 - val_loss: 24.1303
Epoch 104/150
104/104 [==============================] - 1s 6ms/step - loss: 20.4773 - val_loss: 23.9686
Epoch 105/150
104/104 [==============================] - 1s 7ms/step - loss: 20.3275 - val_loss: 23.9147
Epoch 106/150
104/104 [==============================] - 1s 6ms/step - loss: 20.4802 - val_loss: 23.9256
Epoch 107/150
104/104 [==============================] - 1s 6ms/step - loss: 20.3547 - val_loss: 23.9246
Epoch 108/150
104/104 [==============================] - 1s 5ms/step - loss: 20.3198 - val_loss: 23.9026
Epoch 109/150
104/104 [==============================] - 1s 6ms/step - loss: 20.3157 - val_loss: 23.9021
Epoch 110/150
104/104 [==============================] - 1s 6ms/step - loss: 20.2858 - val_loss: 23.9655
Epoch 111/150
104/104 [==============================] - 1s 6ms/step - loss: 20.3380 - val_loss: 23.7937
Epoch 112/150
104/104 [==============================] - 1s 7ms/step - loss: 20.2584 - val_loss: 23.8539
Epoch 113/150
104/104 [==============================] - 1s 7ms/step - loss: 20.1702 - val_loss: 23.7953
Epoch 114/150
104/104 [==============================] - 1s 5ms/step - loss: 20.1529 - val_loss: 23.7523
Epoch 115/150
104/104 [==============================] - 1s 6ms/step - loss: 20.0983 - val_loss: 23.8810
Epoch 116/150
104/104 [==============================] - 1s 7ms/step - loss: 20.1861 - val_loss: 23.8474
Epoch 117/150
104/104 [==============================] - 1s 7ms/step - loss: 20.2347 - val_loss: 23.7067
Epoch 118/150
104/104 [==============================] - 1s 6ms/step - loss: 20.1151 - val_loss: 23.6762
Epoch 119/150
104/104 [==============================] - 1s 6ms/step - loss: 20.0170 - val_loss: 23.9309
Epoch 120/150
104/104 [==============================] - 1s 7ms/step - loss: 20.1103 - val_loss: 23.7466
Epoch 121/150
104/104 [==============================] - 1s 6ms/step - loss: 20.0932 - val_loss: 23.9174
Epoch 122/150
104/104 [==============================] - 1s 12ms/step - loss: 20.1186 - val_loss: 23.7566
Epoch 123/150
104/104 [==============================] - 1s 6ms/step - loss: 20.0203 - val_loss: 23.6190
Epoch 124/150
104/104 [==============================] - 1s 6ms/step - loss: 20.0191 - val_loss: 23.6969
Epoch 125/150
104/104 [==============================] - 1s 5ms/step - loss: 20.0962 - val_loss: 23.5975
Epoch 126/150
104/104 [==============================] - 1s 5ms/step - loss: 20.0356 - val_loss: 23.5611
Epoch 127/150
104/104 [==============================] - 1s 5ms/step - loss: 20.0346 - val_loss: 23.5204
Epoch 128/150
104/104 [==============================] - 1s 5ms/step - loss: 19.9555 - val_loss: 23.7310
Epoch 129/150
104/104 [==============================] - 1s 6ms/step - loss: 19.9638 - val_loss: 23.5524
Epoch 130/150
104/104 [==============================] - 1s 5ms/step - loss: 19.9707 - val_loss: 23.4709
Epoch 131/150
104/104 [==============================] - 1s 6ms/step - loss: 19.9478 - val_loss: 23.5684
Epoch 132/150
104/104 [==============================] - 1s 6ms/step - loss: 19.9904 - val_loss: 23.5917
Epoch 133/150
104/104 [==============================] - 1s 5ms/step - loss: 19.8742 - val_loss: 23.5258
Epoch 134/150
104/104 [==============================] - 1s 5ms/step - loss: 19.9305 - val_loss: 23.4013
Epoch 135/150
104/104 [==============================] - 0s 5ms/step - loss: 19.8222 - val_loss: 23.4173
Epoch 136/150
104/104 [==============================] - 1s 5ms/step - loss: 19.8421 - val_loss: 23.3864
Epoch 137/150
104/104 [==============================] - 1s 5ms/step - loss: 19.9348 - val_loss: 23.3953
Epoch 138/150
104/104 [==============================] - 1s 6ms/step - loss: 19.8322 - val_loss: 23.3536
Epoch 139/150
104/104 [==============================] - 1s 5ms/step - loss: 19.7217 - val_loss: 23.3681
Epoch 140/150
104/104 [==============================] - 1s 6ms/step - loss: 19.7816 - val_loss: 23.3947
Epoch 141/150
104/104 [==============================] - 1s 6ms/step - loss: 19.8265 - val_loss: 23.4775
Epoch 142/150
104/104 [==============================] - 1s 6ms/step - loss: 19.7479 - val_loss: 23.3561
Epoch 143/150
104/104 [==============================] - 1s 5ms/step - loss: 19.7220 - val_loss: 23.4630
Epoch 144/150
104/104 [==============================] - 1s 6ms/step - loss: 19.8323 - val_loss: 23.7298
Epoch 145/150
104/104 [==============================] - 1s 7ms/step - loss: 19.9277 - val_loss: 23.2399
Epoch 146/150
104/104 [==============================] - 1s 6ms/step - loss: 19.6645 - val_loss: 23.2768
Epoch 147/150
104/104 [==============================] - 1s 6ms/step - loss: 19.6643 - val_loss: 23.3012
Epoch 148/150
104/104 [==============================] - 1s 6ms/step - loss: 19.6133 - val_loss: 23.2932
Epoch 149/150
104/104 [==============================] - 1s 6ms/step - loss: 19.6154 - val_loss: 23.2551
Epoch 150/150
104/104 [==============================] - 1s 6ms/step - loss: 19.6283 - val_loss: 23.3160

In [29]:
model.evaluate(x_test,y_test)

47/47 [==============================] - 0s 5ms/step - loss: 15.4544

15.454351425170898

In [30]:
ypred = model.predict(x_train)

104/104 [==============================] - 1s 4ms/step

In [31]:
x_test.shape

(1478, 9)

In [32]:
new = x_test[0]

In [33]:
new.reshape((1,9))

array([[-0.15485486, -0.15943014, -0.91968116, -1.56155996,  2.03896892,
        -0.09226515,  2.27891102,  3.51442323, -1.59025775]])

In [34]:
model.predict(new.reshape((1,9)))

1/1 [==============================] - 0s 44ms/step

array([[43.92869]], dtype=float32)